.pager li .active_link{
    
    background: #9c9c9c !important;
    
    
}

/* Thick border for the hr tag*/
hr.new4 {
  border: 1px solid lightblue;
}

/* Dotted border for the hr tag  */
hr.new3 {
  border-top: 2px dotted lightblue;
}

.comment_sec-title {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid rgb(3, 96, 158);
  text-align: center;
}